.weather-form {
  width: 50rem;
}

.heading {
  font-weight: 700;
  font-size: 3.5rem;
  color: #345359db;
}

input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.208);
  border-radius: 0px 16px 0px 16px;
  color: rgb(57, 53, 53);
  font-size: 20px;
  font-weight: 500;
  transition: 0.2s ease-out;
}

input:focus {
  background-color: rgba(255, 255, 255, 0.6);
  color: #313131;
  /* color: #fff */
}

.city {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 5px;
  text-shadow: 2px 1px rgba(230, 228, 228, 0.275);
}

.temp {
  color: #ffffff90;
  font-size: 102px;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 2px 1px rgba(230, 228, 228, 0.6);
}

.descrp {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.min-max {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.4);
}

.error {
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(152, 28, 28);
}

.footer {
  position: absolute;
  bottom: 0vh;
  text-align: center;
  width: 100%;
  color: #fff;
}

.container {
  height: 100vh;
  width: 100vw;
}


img{
  height: 100px;
  width: 100px;
}